:root{
    --site-color:#434455;
    --site-color-two:#2E2F42;
}
body {
    color:  #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
    background-color: #FFFFFF;
}
.list{
    list-style-type: none;
}
.link {
    text-decoration: none;
}
.page-nav .link {
    color:#2E2F42;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.page-nav .link:hover,
.page-nav .link:focus {
    color: #404BBF;
}
.address{
    font-style: normal;
}
.address-link .link { 
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-style: normal;
}
.address-link .link:hover,
.address-link .link:focus{
    color: #404BBF;
}
.order-button{
    font-family: "Roboto", sans-serif;
    background: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.order-button:hover,
.order-button:focus{
    background: #404BBF;
}
h1{
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
h2{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var( --site-color-two);
}
h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em
}

p{
    color: #434455;
    font-size: 16px;
    
}
footer {
background-color:var(--site-color-two);
}
.footer-text{
    color: #F4F4FD;
}
.logo{
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color:#4D5AE5; 
    letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo-two{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color:#4D5AE5;
    letter-spacing: 0.03em;
text-transform: uppercase;
}
.part-logo-two{
    color: #F4F4FD;
}
.part-logo {
    color: #2e2f42;
}
.sec-one{
    background:#2e2f42;
    color: #FFFFFF;
}
.sec-four {
    background: #F4F4FD;
}
.photo-team {
    background-color: #FFFFFF;
    text-align: center;
}
.filter-button {
    background: #F4F4FD;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}
.filter-button:hover,
.filter-button:focus{
    background: #404BBF;
    color: #FFFFFF;
}
.exempl {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}